/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cata-products__layout {
	// display: grid;
	// gap: 1.5em;
	// grid-template-columns: repeat( auto-fill, minmax( 15.375em, 1fr ) );
}

.wp-block-cata-product {
	text-align: center;
}

.wp-block-cata-product__layout {
	// max-inline-size: 22em;
	// margin-inline-start: auto;
	// margin-inline-end: auto;
	// > * + * {
	// 	margin-block-start: 0.75em;
	// }
}

.wp-block-cata-product__image img {
	inline-size: 100%;
}

.wp-block-cata-product__title,
.wp-block-cata-product__price {
	font-size: 1.25em;
}

.wp-block-cata-product__price {
	color: var(--color-accent);
}

.wp-block-cata-product__link {
	color: var(--color-text);
	text-decoration: none;
	&:hover,
	&:active {
		text-decoration: underline;
	}
}

.wp-block-cata-product__byline {
	font-size: 0.75em;
}

.wp-block-cata-products.is-style-reel {
	overflow: auto;
	
	.wp-block-cata-products__layout {
		display: flex;
		column-gap: var(--wp--style--block-gap);
		padding-inline: var(--wp--style--block-gap);
		padding-block: var(--wp--style--block-gap);

		.wp-block-cata-product__layout {
			inline-size: 18em;
		}
	}
}
