/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-cata-advanced-modal-close > button {
	color: inherit;
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;

	svg {
		color: inherit;
		display: block;
		fill: currentColor;
	}
}
