/**
 * The following styles get applied inside the editor only.
 */

.wp-block-cata-rest {
	a {
		/* Prevents accidentally clicking away from the editor */
		pointer-events: none;
	}
}

.wp-block-cata-rest .preview {
	float: initial;
}

.preview__image-container {
	margin: 0;

	img {
		display: block;
	}
}
