/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-cata-rest__list {
	columns: 16em;
	column-gap: 1.5em;
	line-height: 1.125;
	> :not(:last-child) {
		margin-block-end: 1.5em;
	}
}

.wp-block-cata-rest__layout.is-layout-trending {
	display: flex;
	column-gap: 1.5em;
	row-gap: 2.25em;
	flex-wrap: wrap;

	> * {
		flex-grow: 1;
	}
	> :nth-child(1) {
		flex-basis: 12em;
	}
	> :nth-child(2) {
		flex-basis: 18em;
	}
	> :nth-child(3) {
		flex-basis: 12em;
		align-self: center;
	}

	.preview__title {
		margin-block: .25em;
	}
}

.wp-block-cata-rest__layout.is-layout-network {
	> * + * {
		margin-block-start: 3em;
	}
}

.wp-block-cata-rest__layout.is-layout-compact {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

.preview.is-layout-trending {
	.preview__title {
		margin-block-start: 0.25em;
		line-height: 1.25;
		font-weight: 300;
	}

	.preview__avatar {
		inline-size: 2.25em;
		block-size: 2.25em;
		vertical-align: middle;
		clip-path: circle(50%);
	}

	.preview__avatar + a[rel=author] {
		margin-inline-start: 0.375em;
	}
}

.preview.is-layout-network {
	.preview__layout {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2.25em;
		row-gap: 1.125em;

		> * {
			flex-grow: 1;
		}
	}

	.preview__start {
		flex-basis: 15em;
	}

	.preview__end {
		flex-basis: 18em;
	}

	.preview__title {
		margin-block-start: 0;
		text-wrap: pretty;
	}

	.preview__excerpt {
		margin-block: .5em;
	}
}

.preview.is-layout-compact {
	.preview__layout {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;

		> div {
			max-inline-size: 100%;
		}
	}

	.preview__start {
		flex-grow: 1;
		flex-basis: 5em;
	}

	.preview__end {
		flex-grow: 2;
		flex-basis: 10em;
	}

	.preview__title {
		margin: 0;
	}
}

.preview__zodiac-signs {
	display: flex;
	flex-wrap: wrap;
	gap: .5em;
	padding: 0;
	list-style: none;
	margin-block-start: 1.5em;

	li {
		padding: .25em .5em;
		border: 1px solid currentColor;
	}

	svg {
		height: 1em;
		fill: currentColor;
		margin-inline-end: 0.5em;
		vertical-align: middle;
	}
}

.has-text-align-center {
	.preview__zodiac-signs {
		justify-content: center;
	}
}

.has-text-align-left {
	.preview__zodiac-signs {
		justify-content: start;
	}
}

.has-text-align-right {
	.preview__zodiac-signs {
		justify-content: end;
	}
}

.wp-block-cata-rest__layout.is-layout-compact-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: var(--wp--style--block-gap);
}

/* Do this for non-grid compact layout too? */
.wp-block-cata-rest__layout.is-layout-compact-grid .preview.is-layout-compact .preview__end {
	> * {
		margin-block: 0;
	}
	> * + * {
		margin-block-start: calc( var(--wp--style--block-gap ) / 2 );
	}
}

.wp-block-cata-rest {
	--grid-fill-column-count: 3;
	--grid-fill-container-size: var(--wp--style--global--content-size);
	&.alignwide {
		--grid-fill-container-size: var(--wp--style--global--wide-size);
	}
	&.alignfull {
		--grid-fill-container-size: calc( var(--wp--style--global--wide-size) + ( var(--wp--style--root--padding-left) * 2 ) );
	}
}

// .wp-block-cata-rest__layout.is-layout-stack {}
// .preview.is-layout-stack {}

.wp-block-cata-rest__layout.is-layout-stack-grid {

	--grid-fill-column-size: calc(
		( ( var(--grid-fill-container-size ) - ( (var(--grid-fill-column-count, 3) - 1) * var( --wp--style--block-gap ) ) ) / var(--grid-fill-column-count, 3) ) * ( (var(--grid-fill-column-count, 3) - 0.49) / var(--grid-fill-column-count, 3) )
	);

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax( min( var(--grid-fill-column-size, auto), 100% ), 1fr ));
	column-gap: var( --wp--style--block-gap );
	row-gap: calc( var( --wp--style--block-gap ) * 1.5 );
}
