/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cata-shopify-product__title {
	text-wrap: pretty;
}

.wp-block-cata-shopify:not( [class*=is-style-] ),
.wp-block-cata-shopify.is-style-default {
	.wp-block-cata-shopify__layout {
		display: grid;
		gap: 1.5em;
		grid-template-columns: repeat( auto-fill, minmax( 15.375em, 1fr ) );
	}
}

.wp-block-cata-shopify:not( .is-style-list ) {
	text-align: center;

	.wp-block-cata-shopify-product__layout {
		margin-inline: auto;
	}

	.wp-block-cata-shopify-product__end > * {
		margin-block-start: var(--wp--style--block-gap);
	}

	// Hack we need for now,
	// should really be fixed in HTML and/or editor options for image size.
	.wp-block-cata-shopify-product__image img {
		inline-size: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
	}
}

.wp-block-cata-shopify.is-style-reel {
	overflow: auto;

	.wp-block-cata-shopify__layout {
		display: flex;
		column-gap: var(--wp--style--block-gap);
		padding-inline: var(--wp--style--block-gap);
		padding-block: var(--wp--style--block-gap);
		inline-size: fit-content;
		margin-inline: auto;
	}

	.wp-block-cata-shopify-product {
		inline-size: 12em;
	}
}

.wp-block-cata-shopify.is-style-list {
	.wp-block-cata-shopify__layout {
		display: flex;
		flex-direction: column;
		row-gap: var(--wp--style--block-gap);
	}

	.wp-block-cata-shopify-product__layout {
		display: flex;
		flex-wrap: wrap;
		gap: var(--wp--style--block-gap);
	}

	.wp-block-cata-shopify-product__start {
		flex-grow: 1;
    	flex-basis: 5em;
	}

	.wp-block-cata-shopify-product__end {
		flex-grow: 2;
    	flex-basis: 10em;

		> * + * {
			margin-block-start: calc( var(--wp--style--block-gap) / 3 );
		}
	}
}
