/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-cata-shopify {
	text-align: center;
}

.wp-block-cata-shopify-product__layout {
	margin-inline: auto;
	> * + * {
		margin-block-start: var(--wp--style--block-gap);
	}
}

// Hack we need for now,
// should really be fixed in HTML and/or editor options for image size.
.wp-block-cata-shopify-product__image img {
	inline-size: 100%;
}

.wp-block-cata-shopify:not( .is-style-reel ) {
	.wp-block-cata-shopify__layout {
		display: grid;
		gap: 1.5em;
		grid-template-columns: repeat( auto-fill, minmax( 15.375em, 1fr ) );
	}
}

.wp-block-cata-shopify.is-style-reel {
	overflow: auto;
	.wp-block-cata-shopify__layout {
		display: flex;
		column-gap: var(--wp--style--block-gap);
		padding-inline: var(--wp--style--block-gap);
		padding-block: var(--wp--style--block-gap);
		inline-size: fit-content;
		margin-inline: auto;
	}
	.wp-block-cata-shopify-product {
		inline-size: 12em;
	}
}
