/**
 * The following styles get applied inside the editor only.
 */

// The editor uses the button component, the frontend uses a link.
// Therefore we unstyle the button component to make it more like the frontend.
.wp-block-cata-network-link {
	line-height: 0;

	.components-button {
		font-size: inherit;
		color: currentColor;
		height: auto;
		line-height: 0;
		inline-size: 100%;
		padding: 0;
	}
}
