/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-cata-network-link {
	display: block;
	list-style: none;

	a, svg {
		display: block;
	}

	svg {
		overflow: visible;
		max-inline-size: 100%;
		min-inline-size: 100%;
		block-size: auto;
	}
}
