.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-substack {
	background-color:#ff6719;
	color:#fff;
}

.wp-block-social-links.is-style-logos-only .wp-social-link-substack {
	color:#ff6719;
}