/**
 * The following styles get applied inside the editor only.
 */

.wp-block-cata-newsletter__panel-button-wrapper {
	margin-block: 1em;
	gap: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
