/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-cata-reel {
	overflow: auto;
	padding-block-start: 0.3125em;
	padding-inline-start: 1em;
	padding-inline-end: 1em;
	padding-block-end: 1.5em;
	inline-size: fit-content;
	margin-inline-start: auto;
	margin-inline-end: auto;
	column-gap: 1.5em;

	> * {
		flex: none;
	}
}
